.accordion {
    @apply relative;
}

.accordion::after {
    content: "";
    height: 1px;
    width: 100%;
    opacity: 0;

    animation: animateBorder 0.3s ease 1s forwards;

    @apply absolute bg-white/40 rounded-full;
}

@keyframes animateBorder {
    from { opacity: 0; }
    to { opacity: 1; }
}

.accordion > * {
    @apply py-2 md:py-3;
}

.accordion-header {
    @apply text-xl sm:text-2xl md:text-3xl w-full flex items-center justify-between hover:text-white/60 transition-all duration-300 ease-out;
}

.accordion-header > * {
    @apply transition-all duration-300 ease-out;
}

.accordion-header.active {
    @apply text-color-1;
}

.accordion-body {
    @apply text-[14px] sm:text-[16px] md:text-[20px] transition-all duration-300 ease-out;
}

.accordion-close {
    transform: rotate(45deg);
}