.honeycomb
{
  width: max-content;
  height: 100%;
  transform: translateY(80px);
  @apply flex flex-wrap list-none justify-center items-center w-full p-0;

  perspective: 300px;
  transform-style: preserve-3d;
}

.honeycomb-cell
{
  @apply flex-grow-0 flex-shrink basis-[250px] max-w-[250px] h-[137.5px] mt-[65.4px] mx-[12.5px] mb-[25px] relative p-[0.5rem] text-center z-10 transition-all duration-300 ease-in-out;
}

.honeycomb-cell:hover,
.honeycomb-cell:focus {
  box-shadow: 0px 10px 100px 10px black;
  transform: translateZ(-80px);
}

.honeycomb-cell:not(:hover) {
  transform: translateZ(-100px);
}

.tooltip-text {
  width: max-content;
  transform: translateZ(100px);

  @apply invisible bg-black/60  text-white text-center rounded-md py-4 px-2 absolute z-10 bottom-[150%] right-[0%] ml-[-60%] text-3xl ;
}

.honeycomb-cell .tooltip-text::after {
  content: "";
  border-width: 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
  transform: translateX(-25%);

  @apply absolute top-[100%] left-[50%] ml-[-5px];
}

.honeycomb-cell:hover .tooltip-text {
  @apply visible;
}

.honeycomb-cell_img
{
  @apply object-cover object-center;
}
.honeycomb-cell_title
{
    transition: opacity 300ms;

    @apply h-full flex flex-col items-center justify-center break-all uppercase text-2xl text-white font-bold;
}

.honeycomb-cell::before,
.honeycomb-cell::after
{
  content: '';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img
{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    @apply top-[-50%] left-0 w-full h-[200%] block absolute -z-10;
}
.honeycomb-cell::before
{
    @apply bg-white scale-[0];
}

.honeycomb-cell:hover
.honeycomb-cell_title
{
    @apply opacity-0;
}

.honeycomb-cell:hover::after
{
  opacity: 0;
}
.honeycomb_hidden
{
  @apply hidden opacity-0 w-[250px] my-0 mx-[12.5px];
}

/****** Responsive *******/

@media (max-width: 550px) 
{
  .honeycomb-cell 
  {
    margin: 81.25px 25px;
  }
}


@media (min-width: 550px) and (max-width: 825px) 
{
  .honeycomb-cell:nth-child(3n) 
  {
    margin-right: calc(50% - 125px);
    margin-left: calc(25% - 125px);
  }

  .honeycomb_hidden:nth-child(3n + 5) 
  {
    display: block;
  }
}

@media (min-width: 825px) {
    .honeycomb {
        transform: rotate3d(1, 1, 1, -10deg);
    }

    .tooltip-text {
      transform: rotate3d(1, 1, 1, 10deg);
    }
}

@media (min-width: 825px) and (max-width: 1100px) {
 
  .honeycomb-cell:nth-child(5n + 4) 
  {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) 
  {
    margin-right: calc(50% - 275px);
  }

  .honeycomb_hidden:nth-child(5n), 
  .honeycomb_hidden:nth-child(5n + 3) 
  {
    display: block;
  }
}
@media (min-width: 1100px) 
{
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7), 
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) 
  {
    margin-right: calc(50% - 400px);
  }

  .honeycomb_hidden:nth-child(7n + 7), 
  .honeycomb_hidden:nth-child(7n + 9), 
  .honeycomb_hidden:nth-child(7n + 11) 
  {
    display: block;
  }
}