@import url('./tooltip.css');

.honeycomb
{
  width: max-content;
  height: 100%;
  transform: translateY(80px);
  @apply flex flex-wrap list-none justify-center items-center w-full p-0;

  perspective: 300px;
  transform-style: preserve-3d;
}

.honeycomb-cell
{
  @apply flex-grow-0 flex-shrink basis-[125px] max-w-[125px] h-[68.75px] mt-[32.7px] mb-[2px] relative p-[0.25rem] text-center z-10 transition-all duration-300 ease-in-out;
}

.honeycomb-cell:hover,
.honeycomb-cell:focus {
  box-shadow: 0px 10px 100px 10px black;
  transform: translateZ(-40px);
}

.honeycomb-cell:not(:hover) {
  transform: translateZ(-50px);
}

.honeycomb-cell_img
{
  @apply object-cover object-center;
}
.honeycomb-cell_title
{
    transition: opacity 300ms;

    @apply h-full flex flex-col items-center justify-center break-all uppercase text-2xl text-white font-bold;
}

.honeycomb-cell::before,
.honeycomb-cell::after
{
  content: '';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img
{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    @apply top-[-50%] left-0 w-full h-[200%] block absolute -z-10;
}
.honeycomb-cell::before
{
    @apply bg-white scale-[0];
}

.honeycomb-cell:hover
.honeycomb-cell_title
{
    @apply opacity-0;
}

.honeycomb-cell:hover::after
{
  opacity: 0;
}
.honeycomb_hidden
{
  @apply hidden opacity-0 w-[125px] my-0 mx-[6.25px];
}

/****** Responsive *******/

@media (max-width: 550px) 
{
  .honeycomb-cell 
  {
    margin: 17.25px 0;
  }

  .honeycomb-cell:nth-child(3n) 
  {
    margin-right: calc(50% - 100px);
    margin-left: calc(25% - 20px);
  }
}


@media (min-width: 550px) and (max-width: 825px) 
{
  .honeycomb-cell:nth-child(12n) 
  {
    margin-right: calc(50% - 75px);
    margin-left: calc(25% - 75px);
  }


  .honeycomb_hidden:nth-child(3n + 5) 
  {
    display: block;
  }
}

@media (min-width: 825px) {
    .honeycomb {
        transform: rotate3d(1, 1, -0.5, 60deg);
    }

    .tooltip-text {
      transform: rotate3d(1, 1, 1, 10deg);
    }
}

@media (min-width: 825px) and (max-width: 1100px) {
 
  .honeycomb-cell:nth-child(5n + 4) 
  {
    margin-left: calc(50% - 137.5px);
  }

  .honeycomb-cell:nth-child(5n + 5) 
  {
    margin-right: calc(50% - 137.5px);
  }

  .honeycomb_hidden:nth-child(5n), 
  .honeycomb_hidden:nth-child(5n + 3) 
  {
    display: block;
  }
}
@media (min-width: 1100px) 
{
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 200px);
  }

  .honeycomb-cell:nth-child(7n + 7), 
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) 
  {
    margin-right: calc(50% - 200px);
  }

  .honeycomb_hidden:nth-child(7n + 7), 
  .honeycomb_hidden:nth-child(7n + 9), 
  .honeycomb_hidden:nth-child(7n + 11) 
  {
    display: block;
  }
}