.faq-main,
.tracks-main {
  @apply text-white flex flex-col items-center justify-center md:flex-row md:items-start py-4 px-8 my-8 gap-4;
}

.body-nav {
    @apply flex gap-8 font-medium capitalize py-4;
    
    width: 100%;
}

.body-nav::-webkit-scrollbar {
  width: 100%;
  height: 4px;
}

.body-nav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  @apply rounded-full;
}

.body-nav-item {
  @apply flex gap-2 items-center cursor-pointer text-sm md:text-xl md:gap-4;
}

.body-nav-item > * {
  @apply transition-all duration-300 ease-out;
}

.body-nav-item:hover {
  @apply text-white/60;
}

/* down from here is for the faq css... */
.faq-nav-item:hover .faq-item-icon {
  @apply bg-white/60;
}

.faq-nav-item.active .faq-item-icon {
  @apply text-white;

  background: linear-gradient(to right, #05bc64, #27445c);
}

.faq-nav-item.active p {
  @apply text-color-1;
}

.faq-item-icon {
  @apply text-color-4 bg-white p-[10px] rounded-full;
}

.body-nav-item > p,
.body-nav-item > span {
  width: max-content;
}

.nav-list > a {
  @apply p-2;
}
.nav-list > a:hover {
  @apply bg-gradient-to-r from-color-1 to-color-3 rounded-br-3xl;
}
