@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all ease-in-out 200ms; */
}

@font-face {
  font-family: "Archiv";
  src: url("./assets/fonts/ArchivGroteskTrial-RegularTrial.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "whites";
  src: url("./assets/fonts/WhyteInktrap-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url("./assets/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: "ArchivGrotesk", sans-serif;
}

body {
  overflow-x: hidden;
}

.register-btn:hover span:first-child {
  animation-play-state: paused;
}

.hero-text {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  letter-spacing: 6px;
  font-family: "monument";
}
.text-top {
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
  letter-spacing: 2px;
  font-family: "Archiv";
  font-size: 24px;
  font-weight: 700;
}

.discord-icon {
  filter: grayscale(75%);
  transition: filter 300ms ease-out;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(178, 175, 175, 0.6); /* Semi-transparent background */
  /* opacity: 0.9; */
  /* visibility: hidden; */
  display: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.overlay.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discord-btn:hover .discord-icon {
  filter: grayscale(0%);
}
